@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&family=Montserrat:wght@600&&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  color: #dddddd;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #121212;
  --secondary: #ff4162;

  scroll-behavior: smooth;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.background-clouds {
  background-image: url('/public/background.svg');
  background-repeat: no-repeat;
}

.background-waves {
  background-position: right top;
  background-image: url('/public/background-waves.svg');
  background-repeat: no-repeat;
}

.background-leaves {
  background-image: url('/public/leaves-background.svg');
}

.background-bubbles {
  background-image: url('/public/bubbles-background.svg');
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);

  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 14px;

  background-color: var(--secondary);
  border: 3px solid var(--primary);
}